<nav id="align_headerbar">
    <div id="logo">
        <a href="/">
            <h1>Ticketvendor</h1>
        </a>
    </div>
    <!--navbar-->
    <div class="navlinks">

        <a href="/auth/login">login</a>
        <a href="/auth/register">register</a>
    </div>


    <!--navbar-->



</nav>