<nav id="align_headerbar">
    <div id="logo">
        <a href="/">
            <h1>Ticketvendor</h1>
        </a>
    </div>
    <!--navbar-->

    <div id="login_reg_button">
        <a href="/auth/login">login</a>
        <a href="/auth/register">Register</a>
    </div>
    <!--navbar-->



</nav>