<nav id="align_headerbar">
    <div id="logo">
        <a href="/">
            <h1>Ticketvendor</h1>
        </a>
    </div>
    <!--navbar-->
    {{#if user}}
    <p>{{this.username}}</p>
    {{/if}}


    <!--navbar-->



</nav>