<form method="post" action="/ticketvendoradmin/auth">
  <input placeholder="username" type="text" id="username" name="username" />
  <input placeholder="password" type="password" id="password" name="password" />
  <button type="submit">Log in</button>
</form>