<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="../public/css/landingpage.css" />

</head>

<body>
    <header>
        <div id="align-headerbar">
            <p id="naam">Ticketvendor</p>
            <a href="/auth/login"><button class="button button5">Login</button></a>
            <a href="/auth/register"><button class="button button5">Registreer</button></a>
        </div>
        

    </header>
    <!--end boven gedeelte-->
    <main>
        <div id="background">
            
        </div>
        <div id="content">
            <div id="content_aligin">
                {{#events}}
                <a href="http://localhost:3000/detail/{{this.eventName}}">
                    <div class="card">
                        <img alt="event banner" src={{this.eventImage}}>
                        <h3>{{this.eventName}}</h3>
                        <p>{{this.eventDate}}</p>
                    </div>
                </a>
                {{/events}}
            </div>
    </main>


    <footer>


    </footer>


</body>

</html>