<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div id="container">
        <header>
            <!--boven gedeelte-->
            <div id="background_boven">
                <video autoplay muted loop id="myVideo">
                    <source src="img/background.mp4" type="video/mp4">
                </video>
                <div id="align_headerbar">
                    <div id="logo">
                        <h1>Ticketvendor</h1>
                    </div>
                    <!--navbar-->

                    <div id="login_reg_button">
                        <a href="/auth/login">login</a>
                        <a href="/auth/register">Register</a>
                    </div>
                    <!--navbar-->

                </div>
                <div id="title_aligin">
                    <p>Veilig e-tickets kopen en verkopen
                    </p>
                    <form action="/action_page.php">
                        <button type="submit"><i type="submit" class="fa fa-search button_submit"></i></button>

                        <input type="search" name="search" placeholder="Zoeken naar evenementen, locaties en steden"
                            class="search">
                    </form>


                </div>
                <!--Search-->

                <!--End Search-->

            </div>
        </header>
        <!--end boven gedeelte-->
        <main>
            <div id="bar">
                <h6>Upcoming events</h6>
                <a href=""> <i class="fa fa-chevron-down"></i> </a>
            </div>
            <div id="content">
                <div id="content_aligin">
                    {{#events}}
                    <a href="http://localhost:3000/detail/{{this.eventName}}">
                        <div class="card">
                            <img alt="event banner" src={{this.eventImage}}>
                            <h3>{{this.eventName}}</h3>
                            <p>{{this.eventDate}}</p>
                        </div>
                    </a>
                    {{/events}}
                </div>
        </main>


        <footer>


        </footer>
    </div>


</body>

</html>